*{
    padding: 0px;
}

body{
    background-color: blue;
}

.joke-box{
    background-color: #fff;
    text-align: center;
    margin: 125px;
    padding: 50px;
    height: 450px;   
}
.joke-box h1{
    text-decoration: underline;
}
.box{
    text-align: center;
}
.box button{
    background-color: #fff;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.box button:hover{
    background-color: grey;
    color: #fff;
}
#joke-container{
    color: black;
    font-size: 30px;
    margin-top: 60px;
   
}
#punchline-container{
    color: black;
    font-size: 30px;
    margin-top: 50px;
    font-weight: bolder;
    
}

@media screen and (max-width: 600px) {
    .joke-box {
        margin: 10px;
        padding: 10px;
    }

    .box button {
        font-size: 14px;
    }

    #joke-container,
    #punchline-container {
        font-size: 16px;
        margin-top: 15px;
    }
}